main.pdf
iclr2020_conference.pdf
arxiv.zip

*~
.DS_Store

*.aux
*.fls
*.toc
*.out
*.lot
*.log
*.lof
*.blg
*.bbl
*.aux
*.dvi
*.synctex.gz
*.fdb_latexmk
*.bcf
*.nav
*.run.xml
*.snm

*.cfg
*.glo
*.idx
*.ilg
*.ind
*.gls
*.cut
*.hd
*.thm
*.rpi

# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# IPython checkpoints
.ipynb_checkpoints/
